@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles/globals.css */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  text-align: center;
}

.header {

}

.header span {
  font-weight: normal;
  color: #999;
}

.header-left {

}
.header-right {

}
